# dependencies & build artifacts
node_modules
dist
build
coverage
.tmp

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
*.log

# git & local metadata
.git
.gitignore
.DS_Store
Thumbs.db

# environment / secrets
.env
.env.*

# docker / compose related files not needed in image
docker-compose.yml
docker-compose*.yml

# misc
public/uploads
pgdata
