<%- include("partials/header.ejs") %>

<div class="end-screen">
    <h2>404 • Page Not Found</h2>

    <p>Oops... the page you're looking for doesn't exist<br>
    or may have been moved.</p>

    <div style="font-size: 5rem; margin-bottom: 2rem;">
      🚫
    </div>

    <a href="/flagguess" class="restart-button">Return Home</a>
</div>

<%- include("partials/footer.ejs") %>   