<%- include("partials/header.ejs") %>

<div class="message-container">
  <span class="success-message">Successful Login</span>
  <a class="go-home" href="/">Back to Login</a>
</div>

<%- include("partials/footer.ejs") %>   